<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br /><br />
<h3>Create New Listings</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter Property Name" type="text" class="form-control" required>
            <div class="valid-feedback">Title Look's great!!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description of Listing.</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="listing[image][url]" placeholder="Enter image URL/Link" type="text" class="form-control">
       </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="$499" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid Price.</div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Enter City" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter a proper Location.</div>
            </div>
    
            <div class="mb-3 col-md-8">
                <label for="Country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter Country Name.</div>
            </div>
        </div>

        <br /><br />
        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
    </form>
    </div>
</div>